<th:block th:replace="fragments/config"/>
<body>
<!-- 상단 메뉴바 불러오기 -->
<div th:replace="fragments/header :: header"></div>

<section class="post-detail">
    <h2>게시글 상세 보기</h2>
    <table>
        <tr>
            <th>제목</th>
            <td th:text="${post.title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${post.writer}"></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td th:text="${post.create_date}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:utext="${post.content}"></td>
        </tr>
    </table>
    <div class="button-group">
        <button class="action-btn" id="edit-btn" onclick="toggleEdit();">수정</button>
        <button onclick="showMessage();">삭제</button>
        <button th:onclick="|location.href='@{/board/list}'|">목록으로</button>
    </div>
</section>

<!-- 하단 푸터 불러오기 -->
<div th:replace="fragments/footer :: footer"></div>
</body>
