<th:block th:replace="fragments/config"/>
<body>
<!-- 상단 메뉴바 불러오기 -->
<div th:replace="fragments/header :: header"></div>

<section class="write-content">
    <h2>게시글 작성</h2>
    <form action="/board/write" method="post" class="write-form">
        <label for="writer">작성자: </label>
        <input type="text" id="writer" name="writer" placeholder="작성자를 입력하세요." width="200px">

        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>

        <label for="content">내용</label>
        <textarea id="content" name="content" placeholder="내용을 입력하세요" rows="10" required></textarea>

        <button type="submit" class="submit-btn">게시하기</button>
    </form>
</section>

<!-- 하단 푸터 불러오기 -->
<div th:replace="fragments/footer :: footer"></div>
</body>
