<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" th:fragment="layout">

<!-- header.html -->
<header>
    <nav>
        <ul class="nav-bar">
            <li><a href="#" th:href="@{/}">홈</a></li>
            <li><a href="#" th:href="@{/team-info}">팀 정보</a></li>
            <li><a href="#" th:href="@{/players}">선수 명단</a></li>
            <li><a href="#" th:href="@{/schedule}">경기 일정</a></li>
            <li><a href="#" th:href="@{/board/list}">게시판</a></li>
        </ul>
    </nav>
</header>